/* GLOBALES */
* {font-family: Segoe UI, Segoe UI Light, Segoe UI Semibold;padding:0px;margin:0px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;}
.anime-boton{
	transition:all 0.3s ease-in-out;
}
.img{
	display:block;
	width:100%;
	height:auto;
}
li{
	list-style:none;
}
a{
	text-decoration:none;
}
.h-lamp{
	font-weight: 400;
    font-size: 30px;
    margin-bottom: 15px;
}
.p-descrip{
	font-size: 20px;
    text-align: justify;
}
.t-infor{
	border-collapse: collapse;
	color: #4e4e4e;
}
.t-infor tr:nth-child(even){
	background-color: #fff;
}
.t-infor td{
	border: 1px solid rgba(0,0,0,0.1);
    padding: 8px;
}
.t-date{
	font-weight: 640;
}
.text-l{
	text-align:left;
}
.text-c{
	text-align:center;
}
.text-j{
	text-align:justify;
}
.text-r{
	text-align:right;
}
.txt{
	margin-bottom:5px;
}
.txt-price{
	font-weight:600;
}
.txt-white{
	color:#fff;
}
.txt-gris{
	color:#4e4e4e;
}
.txt-black{
	color:#000;
}
.bg-gris{
	background:#f4f4f4;
}
.bg-white{
	background:#fff;
}
.conteiner{
	width:100%;
}
.d-flex{
	width:100%;
	display:flex;
	flex-wrap:wrap;
}
.boton-nyb{
	display:inline-block;
	background:#fff;
	padding:15px 20px;
	color:#000;
	font-weight:600;
}
.boton-nyb:hover{
	color:#fff;
	background:#000;
}
.img-nyb:hover{
	filter: grayscale(100%);
}
.h-franja{
	font-size:45px;
	font-weight:normal;
}
.h-product{
	font-size:16px;
}
.franja-n{
	border-top:3px solid #da1515;
    width:100px;
    display:block;
    margin:20px auto 55px;
}
.c-extend{
	max-width:1260px;
	width:100%;
	margin:0px auto;
}
.c-extend-p{
	max-width:1020px;
	width:100%;
	margin:0px auto;
}
.c-extend-50{
	padding:50px 40px;
}
.c-extend-80{
	padding:80px 40px;
}
.c-extend-100{
	padding:100px 40px;
}
.col-1{
	width:100%;
}
.col-2{
	width:50%;
}
.col-2-product{
    width: 46%;
	margin: 2%;
}
.col-3{
	width:31.3333333333333%;
	margin:1%;
}
.col-3-info{
	padding:10px;
}
.col-3-info p{
	font-size: 22px;
    font-weight: 500;
    margin: 10px auto;
}
.col-3-info i{
	font-size:60px;
    color:#636363;
}
.col-4{
	width:23%;
	margin:1%;
}
.header{
	padding:5px 20px;
}
.header ul{
	text-align:right;
}
.header ul li{
	display:inline-block;
	padding:15px;
}
.header ul li a{
	color:#000;
}
.header ul .menu{
	display:none;
}
.header-p{
	background: rgba(0,0,0,0.5);
}
.header-p ul li a{
	color:#fff;
}
.bg-c{
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size: cover;
}
.c-header{
	background-image:linear-gradient(to left,rgba(12,12,12,.6), rgba(0,0,0,.6)),url("../img/fondo_lamapara.jpg");
}
.c-adress{
	background-image:linear-gradient(to left,rgba(12,12,12,.6), rgba(0,0,0,.6)),url("../img/fondo_direccion.jpg");
}
.f-net p,
.f-link p{
	font-weight: 600;
    margin-bottom: 20px;
    font-size: 20px;
}
.f-net a{
	display: inline-block;
    margin: 0px 15px;
    color: #040404;
    font-size: 30px;
}
.f-link a{
	display: inline-block;
    margin: 5px auto;
    color: #4e4e4e;
}
h1{
	color:#fff;
	font-size: 60px;
    text-shadow: black 0.1em 0.1em 0.2em;
}
@media (max-width:900px){
	.header ul .menu{
		display:block;
	}
	.header ul .h-menu{
		display:none;
	}
}
@media (max-width:700px){
	.col-4{
		width:48%;
		margin:5% 1% 1%;
	}
	.h-franja{
		font-size:30px;
	}
	h1{
		color:#fff;
		font-size: 40px;
		text-shadow: black 0.1em 0.1em 0.2em;
		text-align:center;
	}
	h1 br{
		display:none;
	}
	.m-text-c{
		text-align:center;
	}
	.col-2-product{
		width: 96%;
		margin: 2%;
	}
}
@media (max-width:460px){
	.col-4{
		width:98%;
		margin:5% 1% 1%;
	}
	.col-3{
		width:98%;
		margin:5% 1% 1%;
	}
}